{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page.title == "maSMPs" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2022_maSMP/ro-crate" profile="https://w3id.org/ro/crate/1.1">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2022_maSMP/jsonld">
    {% elif page.title == "TREC doc2doc" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2022_TREC_doc2doc/ro-crate" profile="https://w3id.org/ro/crate/1.1">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2022_TREC_doc2doc/jsonld">
    {% elif page.title == "OntoClue" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2021_OntoClue/ro-crate" profile="https://w3id.org/ro/crate/1.1">  
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/projects/2021_OntoClue/jsonld">
    {% elif page.title == "Protein function embeddings" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/theses/2023_Protein_function_embeddings/ro-crate" profile="https://w3id.org/ro/crate/1.1">  
    <link rel="describedby" type="application/ld+json" href="https://w3id.org/zbmed-semtec/theses/2023_Protein_function_embeddings/jsonld">
    {% endif %}
{% endblock %}