{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page.title == "maSMPs" %}
    <link rel="type" href="https://schema.org/AboutPage">
    <link rel="type" href="https://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://raw.githubusercontent.com/zbmed-semtec/zbmed-semtec.github.io/main/ro-crates/2022_maSMP/ro-crate-metadata.json" profile="https://w3id.org/ro/crate/1.1">
  {% elif page.title == "TREC doc2doc" %}
    <link rel="type" href="https://schema.org/AboutPage">
    <link rel="type" href="https://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://raw.githubusercontent.com/zbmed-semtec/zbmed-semtec.github.io/main/metadata\projects\2022_maSMP.json" profile="https://w3id.org/ro/crate/1.1">
  {% elif page.title == "OntoClue" %}
    <link rel="type" href="https://schema.org/AboutPage">
    <link rel="type" href="https://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="https://raw.githubusercontent.com/zbmed-semtec/zbmed-semtec.github.io/main/metadata\projects\2022_maSMP.json" profile="https://w3id.org/ro/crate/1.1">  
  {% endif %}
{% endblock %}