{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  {% if page.title == "maSMPs" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2022_maSMP/ro-crate-metadata.json" profile="https://w3id.org/ro/crate/1.1">
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2022_maSMP.json">
    {% elif page.title == "TREC doc2doc" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2022_TREC_doc2doc/ro-crate-metadata.json" profile="https://w3id.org/ro/crate/1.1">
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2022_TREC_doc2doc.json">
    {% elif page.title == "OntoClue" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2021_OntoClue/ro-crate-metadata.json" profile="https://w3id.org/ro/crate/1.1">  
    <link rel="describedby" type="application/ld+json" href="../../metadata/projects/2021_OntoClue.json">
    {% elif page.title == "Protein function embeddings" %}
    <link rel="type" href="http://schema.org/AboutPage">
    <link rel="type" href="http://schema.org/ResearchProject">
    <link rel="describedby" type="application/ld+json" href="../../metadata/theses/2023_Protein function_embeddings/ro-crate-metadata.json" profile="https://w3id.org/ro/crate/1.1">  
    <link rel="describedby" type="application/ld+json" href="../../metadata/theses/2023_Protein_function_embeddings.json">
    {% endif %}
{% endblock %}